/* Wild Code Sschool Paris Late 2017 Hackaton 1 - Radiowild project

Team Codingk8 FabWild Hotsockets cmeshorer

font-family: 'Ubuntu', sans-serif;
*/

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-image: url(images/radiowildbgi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

p {
    font-size: 1.5em;
    color: black;
}

.logo {
    width: 30px;
    margin-right: 15px;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 1px;
}

.radio {
    width: 60%;
    margin-left: 20%;
    text-align: center;
/*    border-color: #998B58;
    border-style: solid;*/
    border-radius: 15px;
    background-color: white;
    opacity : 0.7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
}

#webradio {
    margin-bottom: 15px;
}

.vote {
    color: white;
    width: 40%;
    margin-left: 30%;
    font-weight: bold;
}

/* Improve the button !!! */
#clickMe {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    opacity: 0.7;
    border-radius: 15px;
    border: none;
    font-size: 1em;
    margin-top: 10px;
    padding: 20px;;
}

#clickMe:hover {
    background-color: white;
    opacity: 0.7;
    color: black;
}

input {
    text-align: left;
    margin-left: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
/*    border-color: #998B58;
    border-style: solid;
    background-color: #998B58; */
    background-color: white;
    opacity: 0.7;
    color: black;
    font-size: 1.2em;
    border-radius: 15px;
    margin-left: 14px;
    margin-right: 14px;
    width: 80%;
    margin-left: 10%;
}

.bologo {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
  }

.git {
    margin-left: 5px;
}

.git2 {
    margin-left: 5px;
    margin-right: 5px;
}

/* Beginning Footer links behavior */
a.git, a.git2 {
    color: black;
    text-decoration: underline;
  }
  
  a.git:hover, a.git2:hover {
    color: darkgrey;
    text-decoration: none;
  }
  /* End Footer links behavior */

  /* In the About section
  ul,
  li {
      font-family: 'Grand Hotel', cursive;
      color: darkorange;
      font-size: 1.2em;
  }
  */

/* Media queries */


